@import "../Mixins";
.Login {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .error {
    margin-bottom: 2.4rem;
  }
  .bg-img {
    filter: blur(6px) brightness(0.8);
    border: none;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    width: 30%;

    // height: fit-content;
    border-radius: 0.8rem;
  }
  .title {
    @include flexCenter;
    justify-content: center;
    height: 9.6rem;
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
    border-bottom: 1px solid #333;
  }
  form {
    @include flexCenter;
    flex-direction: column;
    gap: 2.4rem;
    label {
      display: flex;
      flex-direction: column;
      width: 90%;
      span {
        margin-bottom: 0.8rem;
      }
    }
    input {
      font-size: 2.4rem;
      padding: 1.2rem;
      border-radius: 0.8rem;
    }
    button {
      margin-top: 4.8rem;
      color: black;
      width: 90%;
      font-size: 2.4rem;
      padding: 1.2rem;
      margin-bottom: 3.6rem;
      border-radius: 0.8rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: #333;
        color: white;
      }
    }
  }
}
@media (max-width: 1200px) {
  .Login {
    .wrapper {
      width: 50% !important;
    }
  }
}
@media (max-width: 580px) {
  .Login {
    .wrapper {
      width: 80% !important;
    }
  }
}
