.Portfolio {
  height: 100%;
  background-color: black;

  .ShowPortfolio {
    height: 100%;
    display: flex;
    gap: 2.4rem;
    overflow-y: auto;
    overflow-x: auto;
  }
  .PreviewBriefcase {
    width: 25%;
  }
  .graph-container {
    padding: 2.4rem;
    height: 93%;
    width: 75%;
    overflow-x: hidden;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .lists {
      display: flex;
      gap: 1.2rem;

      ul {
        flex: 0.5;
        list-style: none;
        li {
          display: flex;
          justify-content: space-between;

          padding: 2rem;
          border: none;
          border-bottom: 1px solid #333;
          cursor: default;
          transition: all 0.2;
          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
  .linegraph {
    overflow: hidden;
  }
}
@media (max-width: 1500px) {
  .Portfolio {
    .PreviewBriefcase {
      ul {
        .text {
          h2 {
            font-size: 2rem !important;
          }
          font-size: 1.2rem;
        }
        .price {
          .stock-price {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1170px) {
  .Portfolio {
    .PreviewBriefcase {
      ul {
        .text {
          h2 {
            font-size: 1.8rem !important;
          }
          font-size: 1rem;
        }
        .price {
          .stock-price {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1030px) {
  .Portfolio {
    .PreviewBriefcase {
      width: 35%;
    }
    .graph-container {
      width: 65% !important;
    }
    .PreviewBriefcase {
      ul {
        .text {
          h2 {
            font-size: 2rem !important;
          }
          font-size: 1.2rem;
        }
        .price {
          .stock-price {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .Portfolio {
    .PreviewBriefcase {
      width: fit-content;
    }
    .ShowPortfolio {
      gap: 0.8rem;
    }
    .graph-container {
      width: 100% !important;
      display: block !important;
    }

    .graph__notActive {
      width: 70%;
    }

    .PreviewBriefcase {
      display: block;
      .markets {
        display: none;
        width: 100%;
      }
      .markets__active {
        display: block;
      }

      .mobile-menu__btn {
        img {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 780px) {
  .Portfolio {
    .graph-container {
      .title {
        h1 {
          font-size: 2.4rem;
        }
      }
      li {
        font-size: 1.6rem;
      }
    }
    .PreviewBriefcase {
      ul {
        .text {
          h2 {
            font-size: 1.6rem !important;
          }
          font-size: 1.2rem;
        }
        .price {
          .stock-price {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .Portfolio {
    .PreviewBriefcase {
      ul {
        .text {
          h2 {
            font-size: 1.4rem !important;
          }
          font-size: 1rem;
        }
        .price {
          .stock-price {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Portfolio {
    .linegraph {
      padding: 0;
      padding-top: 2.4rem;
    }
    .lists {
      flex-direction: column;
    }
  }
}

@media (max-width: 550px) {
  .Portfolio {
    .ShowPortfolio {
      gap: 0.8rem;
    }
    .title {
      flex-direction: column;
    }
    .graph-container {
      padding: 0.8rem;
      width: 100% !important;
      display: block !important;
    }

    .graph__notActive {
      display: none !important;
    }

    .PreviewBriefcase {
      display: block;
      .markets {
        display: none;
      }
      .markets__active {
        display: block;
        width: 100vw !important;
      }

      .mobile-menu__btn {
        img {
          display: block;
        }
      }
    }
  }
}
