@import "../Mixins";

.NavBar {
  @include flexCenter;
  justify-content: space-between;

  background-color: #111;
  overflow: hidden;
  height: 7rem;
  width: 100%;
  .header__logo {
    @include flexCenter;
    gap: 1.2rem;

    margin-left: 4.8rem;
    h1 {
      width: 50%;
    }
    img {
      width: 50%;
      height: 4.8rem;
    }
  }

  .header__menuItems {
    @include flexCenter;
    gap: 1.2rem;

    margin-right: 1.8rem;
    font-weight: 700;
    font-size: 1.8rem;
    button {
      font-size: 1.8rem;
      background: none;
      border-left: 1px solid #555;
      border-right: 1px solid #555;
      color: #fff;

      padding: 30rem 1.8rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: #fff;
        color: #222;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
      }
    }
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 0.8rem;
      transition: all 0.2s;
      &:active,
      &:hover {
        color: #5ac53b;
      }
    }
  }
}
