@import "../Mixins";

.PreviewBriefcase {
  background-color: #222;
  overflow-y: auto;
  height: 100%;

  .mobile-menu__btn {
    img {
      font-size: 2.4rem;
      background-color: #444;
      padding: 0.4rem;
      border-radius: 1rem;
      display: none;
    }
  }

  ul {
    list-style: none;
    overflow: auto;
    height: 100%;
    li {
      @include flexCenter;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #424;
      cursor: pointer;

      transition: all 0.2s;
      .text {
        @include flexColumn;
        flex: 1;
        width: 50%;
        h2 {
          font-size: 2.4rem;
        }
      }
      .stockSVG {
        height: 3.6rem;
        width: 25%;
      }
      .trendingIMG {
        width: 50%;
      }
      .price {
        @include flexColumn;
        font-size: 2.4rem;
        align-items: flex-end;
        width: 25%;
        .percent {
          font-size: 1.2rem;
          color: rgba(255, 255, 255, 0.521);
        }
      }
      &:hover {
        background-color: #444;
      }
    }
    .active {
      background-color: #444;
    }
  }
}
