@import "../Mixins";

.ShowSingleMarket {
  padding: 2.4rem;
  width: 75%;
  height: 100%;
  overflow-y: auto;

  background-color: black;

  .startingMsg {
    width: 100%;
    height: 100%;
    @include flexCenter;
    justify-content: center;

    font-size: 3.6rem;
  }

  .controls {
    @include flexSpaceBtw;
  }
  .title {
    @include flexCenter;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    h1 {
      margin-bottom: 1.8rem;
    }
  }
  .buying-power {
    @include flexColumn;
    gap: 0.8rem;

    background-color: #222;
    padding: 1.2rem;
    margin-bottom: 2.4rem;

    span {
      font-size: 2.4rem;
    }
  }
  .times {
    background-color: #222;
    font-size: 2.4rem;
    padding: 1.2rem;
    margin-bottom: 2.4rem;

    display: flex;
    gap: 1.2rem;

    height: 100%;
    width: fit-content;
    span {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: green;
      }
    }
    .active {
      border-bottom: 1px solid green;
    }
  }
  .info {
    @include flexSpaceBtw;
    .lists {
      width: 50%;
      display: flex;
      gap: 1.2rem;

      ul {
        flex: 0.5;
        overflow-x: hidden;
        li {
          border: none;
          cursor: default;
        }
      }
    }
    form {
      width: 25%;
      background-color: #333;
      border-radius: 0.4rem;
      padding: 1.8rem;
      label {
        @include flexColumn;
        input {
          font-size: 2.4rem;
        }
        margin-bottom: 1.8rem;
      }
      .buttons {
        display: flex;
        gap: 1.2rem;
        button {
          width: 100%;
          font-size: 2.4rem;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.2;
          &:hover {
            box-shadow: 1px 1px 4px 1px rgba($color: #000000, $alpha: 0.5);
            transform: translateY(-1px);
          }
        }
        .buy {
          background-color: green;
        }
        .sell {
          background-color: red;
        }
      }
    }
  }
}
